{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Carwash Website Template | Home :: w3layouts</title>
		{% block custom_css %}
			<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	       	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	       	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	       	<!-- webfonts -->
	   		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,300,600,500,900,700,100,800|Comfortaa:700' rel='stylesheet' type='text/css'>
	   		<link href='http://fonts.googleapis.com/css?family=Comfortaa:700,300,400' rel='stylesheet' type='text/css'>
	   		<!-- webfonts -->	   		
	   	{% endblock custom_css %}
   		 <!-- Custom Theme files -->
   		  <meta name="viewport" content="width=device-width, initial-scale=1">
		 
   		 
	</head>
	<body>
		
			<!-- container -->
			<!-- header -->
			<div class="header">
				<div class="container">
					<!-- logo -->
					<div class="logo">
						<a href="index.html"><img src="/media/images/ssangyong.jpg" width="191px" height="42px" title="carwash" /></a>
					</div>
					<!-- /logo -->
					<!-- top-nav 
					<div class="top-nav">
						<span class="menu"> </span>
						<ul>
							<li class="active"><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Services</a></li>
							<li><a href="products.html">Products</a></li>
							<li><a href="contact.html">Contact</a></li>
							<div class="clearfix"> </div>
						</ul>
					</div>
					
					<!-- /top-nav -->
					<div class="clearfix"> </div>
				</div>
				<!-- /header -->
			</div>
			<!-- banner -->
			<div class="benner">
				<!-- slider -->
				<!--- img-slider --->
				<div class="img-slider">
						
					<!-- Slideshow 4 -->
			    <div  id="top" class="callbacks_container">
			      <ul class="rslides" id="slider4">
			        <li>
			          <img class="img-responsive" src="/media/images/slide2.jpg" alt="">
			          <div class="slider-caption">
			          	<h1><span>Auto</span>recambios</h1>					         	 
			          </div>
			        </li>					        
			      </ul>
			    </div>
			    <div class="clearfix"> </div>
			</div>
				<!-- slider -->
			<!-- banner -->
			<!-- top-grids -->
			<div class="top-grids">
				<div class="container">
					<div class="top-grids-head text-center">
						<h2>Servicios</h2>
						<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus. Sed efficitur cursus nibh</p>
					</div>
					<div class="col-md-4">
						<div class="top-grid">
							<div class="grid-icon">
								<span class="icons1"> </span>
							</div>
							<div class="grid-info">
								<h3>Lorem ipsum</h3>
								<p> consectetur adipiscing elit. Proin fermentum dolor tortor, id interdum diam pulvinar feugiat.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="top-grid">
							<div class="grid-icon">
								<span class="icons2"> </span>
							</div>
							<div class="grid-info">
								<h3>Lorem ipsum</h3>
								<p> consectetur adipiscing elit. Proin fermentum dolor tortor, id interdum diam pulvinar feugiat.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="top-grid">
							<div class="grid-icon">
								<span class="icons3"> </span>
							</div>
							<div class="grid-info">
								<h3>Lorem ipsum</h3>
								<p> consectetur adipiscing elit. Proin fermentum dolor tortor, id interdum diam pulvinar feugiat.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="top-grid">
							<div class="grid-icon">
								<span class="icons4"> </span>
							</div>
							<div class="grid-info">
								<h3>Lorem ipsum</h3>
								<p> consectetur adipiscing elit. Proin fermentum dolor tortor, id interdum diam pulvinar feugiat.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="top-grid">
							<div class="grid-icon">
								<span class="icons5"> </span>
							</div>
							<div class="grid-info">
								<h3>Lorem ipsum</h3>
								<p> consectetur adipiscing elit. Proin fermentum dolor tortor, id interdum diam pulvinar feugiat.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="top-grid">
							<div class="grid-icon">
								<span class="icons6"> </span>
							</div>
							<div class="grid-info">
								<h3>Lorem ipsum</h3>
								<p> consectetur adipiscing elit. Proin fermentum dolor tortor, id interdum diam pulvinar feugiat.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- top-grids -->
			<!-- portfolio -->
			<div class="portfolio">
				<div class="portfolio-grids">
					<div class="col-md-3 portfolio-grid">
						<div class="portfolio-pic">
							<img class="img-responsive" src="/media/images/pic1.jpg" title="name">
						</div>
						<div class="portfolio-caption">
							<a href="#"><span class="link"> </span></a>
							<h4>vestibulum</h4>
							<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
						</div>
					</div>
					<div class="col-md-3 portfolio-grid">
						<div class="portfolio-pic">
							<img class="img-responsive" src="/media/images/pic2.jpg" title="name">
						</div>
						<div class="portfolio-caption">
							<a href="#"><span class="link"> </span></a>
							<h4>vestibulum</h4>
							<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
						</div>
					</div>
					<div class="col-md-3 portfolio-grid">
						<div class="portfolio-pic">
							<img class="img-responsive" src="/media/images/pic3.jpg" title="name">
						</div>
						<div class="portfolio-caption">
							<a href="#"><span class="link"> </span></a>
							<h4>vestibulum</h4>
							<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
						</div>
					</div>
					<div class="col-md-3 portfolio-grid">
						<div class="portfolio-pic">
							<img class="img-responsive" src="/media/images/pic4.jpg" title="name">
						</div>
						<div class="portfolio-caption">
							<a href="#"><span class="link"> </span></a>
							<h4>vestibulum</h4>
							<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
						</div>
					</div>
					<div class="col-md-3 portfolio-grid">
						<div class="portfolio-pic">
							<img class="img-responsive" src="/media/images/pic5.jpg" title="name">
						</div>
						<div class="portfolio-caption">
							<a href="#"><span class="link"> </span></a>
							<h4>vestibulum</h4>
							<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
						</div>
					</div>
					<div class="col-md-3 portfolio-grid">
						<div class="portfolio-pic">
							<img class="img-responsive" src="/media/images/pic7.jpg" title="name">
						</div>
						<div class="portfolio-caption">
							<a href="#"><span class="link"> </span></a>
							<h4>vestibulum</h4>
							<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
						</div>
					</div>
					<div class="col-md-3 portfolio-grid">
						<div class="portfolio-pic">
							<img class="img-responsive" src="/media/images/pic6.jpg" title="name">
						</div>
						<div class="portfolio-caption">
							<a href="#"><span class="link"> </span></a>
							<h4>vestibulum</h4>
							<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
						</div>
					</div>
					<div class="col-md-3 portfolio-grid">
						<div class="portfolio-pic">
							<img class="img-responsive" src="/media/images/pic8.jpg" title="name">
						</div>
						<div class="portfolio-caption">
							<a href="#"><span class="link"> </span></a>
							<h4>vestibulum</h4>
							<p>Praesent sem risus, posuere ut turpis in, facilisis aliquet metus</p>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
					
			<!-- portfolio -->
			<!-- team -->
			<div class="team">
				<div class="container">
					<div class="team-head text-center">
						<h3>Nosotros</h3>
						<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
					</div>
					<!-- team-grids -->
					<div class="team-grids">
						<div class="col-md-4">
							<div class="team-grid">
								<div class="team-people">
									<div class="team-people-pic">
										<img src="/media/images/people-pic.jpg" title="name" />
									</div>
									<div class="team-people-info">
										<h3>Established</h3>
										<p>reader will be distracted by the readable</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="team-grid">
								<div class="team-people">
									<div class="team-people-pic">
										<img src="/media/images/people-pic1.jpg" title="name" />
									</div>
									<div class="team-people-info">
										<h3>Established</h3>
										<p>reader will be distracted by the readable</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="team-grid">
								<div class="team-people">
									<div class="team-people-pic">
										<img src="/media/images/people-pic3.jpg" title="name" />
									</div>
									<div class="team-people-info">
										<h3>Established</h3>
										<p>reader will be distracted by the readable</p>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!-- /team -->
			<!-- footer -->
			<div class="footer">
				<div class="container">
					<div class="footer-grids">
						<div class="col-md-6">
							<div class="footer-grid">
								<h5>Acerca de...</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis, urna a aliquam rhoncus,</p>
								<p> Ut ultrices diam enim, eget consectetur elit iaculis eu</p>
							</div>
						</div>
						
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!-- /footer -->
			<!-- footer-bottom -->
			<div class="footer-bottom">
				<div class="container">
					<div class="footer-bottom-left">
						<p>zzzzzzzz</p>
					</div>
					<div class="footer-bottom-right">
						<ul>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Google+</a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
				<!-- footer-bottom -->
		
		<!-- /container -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    	
    	<script src="{% static 'js/responsiveslides.min.js' %}"></script>

    	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    	<!-- script-for-nav -->
		<script>
			$(document).ready(function(){
				$("span.menu").click(function(){
					$(".top-nav ul").slideToggle(1000);
				});
			});
		</script>
		<!-- script-for-nav -->
		<!----start-slider-script---->
					
		<script>
			// You can also use "$(window).load(function() {"
		    $(function () {
		      // Slideshow 4
		      $("#slider4").responsiveSlides({
		      	auto: true,
		        pager: true,
		        nav: true,
		        speed: 500,
		        namespace: "callbacks",
		        before: function () {
		          $('.events').append("<li>before event fired.</li>");
		        },
		        after: function () {
		          $('.events').append("<li>after event fired.</li>");
		        }
		      });
		    });
		</script>
		<!----//End-slider-script---->


	</body>
</html>

